<li>

  <%= image_tag user.picture %>
  <%= link_to user.name, [:admin, user] %>
  <%= link_to "", [:admin, user], class: "glyphicon glyphicon-trash btn-danger btn",
    method: :delete, data: {confirm: t("you_sure"), title: "delete" } %>
</li>
